body {
    background-color: black;
    color: var(--font-dm-sans);
}

h1{
    color: white;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: #000000;
    padding: 12px;
}
.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    cursor: pointer;
}
.sidebar__navigation .logo {
    background-color: #121212;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}
.sidebar__navigation .logo img {
    width: 80px;
}
.sidebar ul li {
    padding: 10px 0;
}
.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}
.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.biblioteca {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.biblioteca .biblioteca__conteudo {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.biblioteca .biblioteca__botao {
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

.biblioteca .biblioteca__botao .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.biblioteca .biblioteca__conteudo .fa-plus {
    margin: 24px 10px;
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20p;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-playlist .section-playlist__conteudo {
    display: flex;
    flex-direction: column;
}

.section-playlist__conteudo .texto {
    padding: 0 0 14px 0;
    color: #fff;
}

.section-playlist__conteudo .titulo {
    font-weight: 700;
}

.section-playlist__conteudo .subtitulo {
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__conteudo .botao {
    background-color: #242424;
}

.section-playlist__conteudo .section-playlist__botao {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;

    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0px;
    width: 113px;
}

.sidebar .cookies {
    margin: 25px 20px;    
}

.sidebar .cookies a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

.sidebar .cookies a:hover {
    text-decoration: underline;
}

.languages .languages__button {
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
}

.disclaimer-premium {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(174, 40, 150), rgb(80, 155, 245));
    padding: 15px 40px;
}

.disclaimer-premium button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    flex-shrink: 0;
    padding: 14px 30px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 40px;
    border: none;
}